<!-- класс spinning написан руками в custom css. Библиотечный я не нашел -->
<div id='spinner' class="row col-md-12 text-center spinner", style="display: none;">
  <i class="glyphicon glyphicon-refresh spinning"></i> Processing...
</div>